.types_personal_loan{
    display: block;
}
.types_personal_loan ul li {
    width: 23.5%;
    height: 250px;
    margin: 0 10px 10px 0px;
    line-height: 18px;
    text-align: center;
    vertical-align: top;
    font-size: 13px;
    font-family: 'PFEncoreSansPro-Regular';
    color: #6c7174;
    border: 1.4px solid #e6e6e6;
    display: inline-block;
    padding: 30px 15px;
    box-shadow: 0px 1px 1px 1px #f1f0f0;
}
.icons_cm {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
}
.monthly_income {
    background: url(../../../assets/images/01_Monthly_Income.svg) no-repeat center center;
}
.age{
    background: url(../../../assets/images/02_Age.svg) no-repeat center center;
}
.monthly_expenses {
    background: url(../../../assets/images/03_Monthly_Expenses.svg) no-repeat center center;
}
.any_loan {
    background: url(../../../assets/images/04_Any_Other_Loan.svg) no-repeat center center;
}
.credit_history {
    background: url(../../../assets/images/05_Credit_History.svg) no-repeat center center;
}
.job_stability {
    background: url(../../../assets/images/06_Job_Stability.svg) no-repeat center center;
}
.relation_lender {
    background: url(../../../assets/images/07_Relation_Lender.svg) no-repeat center center;
}
.category_employer {
    background: url(../../../assets/images/08_Category_Employer.svg) no-repeat center center;
}