.hero-a-banner {
        background: url('../../../assets/images/banner.jpg') no-repeat center 0px #f2f3f6;
        background-size: 100%;
}
.section_container {
    max-width: 1300px;
    width: 100%;
    /* margin: 0 auto 40px; */
}

.hero-a-banner .hero_content {
    padding-left: 40px;
    margin: 60px 0 75px;
}
.hero-a-banner .hero_content .scnd-txt {
    color: #fff;
    font-family: 'PFHandbookPro-Light';
    font-size: 5.750em;
    width: 75%;
    line-height: 70px;
    margin-bottom: 64px;
    margin-top: 0;
}
.btn-sec2 {
    font-family: PFHandbookPro-Regular;
    font-size: 19px;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
    padding: 0px 25px;
    outline: none;
    background-color: #c7222a;
    text-decoration: none;
}
.applynowbtn {
    padding: 21px 45px 20px 45px!important;
    color: #fff;
    text-decoration: none;
    font-size: 23px!important;
}