.benefits_text.martp140 {
    margin-top: 140px;
    max-width: 95%;
}
.benefits_text.martp140 p {
    margin: 25px 0;
}
.benefits_text.martp140 .btn-primary {
    margin-top: 40px;
}
.hero-a-banner .btn-primary, .benefits_wrapper .btn-primary.thrd-btn {
    font-family: PFHandbookPro-Regular;
    font-size: 19px;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
    padding: 0px 25px;
    border: 0;
    outline: none;
    background-color: #c7222a;
    text-decoration: none;
}
.desk_show {
    display: inline-block !important;
}
.btnhgt {
    height: 54px;
    line-height: 54px !important;
    display: inline-block;
}
.start_icon {
    background: url(../../../../assets/images//getstarted_icon.png) no-repeat center center;
    display: inline-block;
    width: 27px;
    height: 21px;
    position: relative;
    left: 8px;
    vertical-align: middle;
}