body{
    background: #f2f3f6 !important;
}
.section_container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto 40px;
}
.mfland_page .row {
    /* width: initial; */
    margin: 0 0px;
    /* padding: 0; */
    background-color: #fff;
}
.topbanner {
    margin-top: -90px!important;
}
.section_first {
    padding: 56px 100px;
}
h2.common_heading {
    font-size: 2.750em;
    font-family: 'PFHandbookPro-Bold';
    color: #000;
    margin: 0;
    padding: 0 0 56px;
    text-align: center;
}
.sub_heading {
    font-size: 1.375em;
    color: #000;
    font-family: 'PFHandbookPro-Regular';
    text-align: left;
    text-decoration: none;
}
.mfland_page .row.mar_btm60 {
    margin-bottom: 40px;
}
.form_field {
    margin: 0px;
    position: relative;
}
.occupation {
    border: 1px solid #f2f3f5;
    padding: 10px;
    /* margin: 20px 0 0px; */
    border-radius: 3px;
}
.container1 {
    font-family: PFHandbookPro-Regular;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    padding-top: 3px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #ffffff;
    border-radius: 50%;
    border: solid 2px #cdcece;    
}
.container1 input:checked ~ .checkmark1 {
    background-color: #ffffff;
    border: solid 2px #cdcece;
    box-shadow: 0 0 6px 0 #cdcece;
    background-color: #ffffff;
}
.checkmark1:after {
    content: "";
    position: absolute;
    display: none;
}
.container1 input:checked ~ .checkmark1:after {
    display: block;
}
.container1 .checkmark1:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #c7222a;
} 
.form_field {
    margin: 0px;
    position: relative;
}
.label-text {
    opacity: 0.7;
    font-family: PFHandbookPro-Regular;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #6c7174;
    padding-top: 20px;
    padding-bottom: 5px;
}

.placeholder-text {
    font-family: PFHandbookPro-Regular;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    height: 44px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #cdcece;
    color: #000000;
    box-shadow: none;
}
.error-lbl {
    font-family: 'PFHandbookPro-Regular';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #bd2b2b;
    position: absolute;
}
.resend_otp_pl {
    text-align: right;
    float: right;
    cursor: pointer;
    font-size: 14px;
    padding-top: 21px;
    padding-right: 6px;
    font-family: PFHandbookPro-Regular;
    color: #0017fb;
}
.martp30 {
    margin-top: 30px !important;
}

element.style {
}
.btn-sec2 {
    font-family: PFHandbookPro-Regular;
    font-size: 19px;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
    padding: 0px 25px;
    outline: none;
    background-color: #c7222a;
    text-decoration: none;
    border: 0px;
}
.btnhgt {
    height: 54px;
    line-height: 54px;
    display: inline-block;
}
p.tnc {
    font-size: 1.125em;
    color: #6c7174;
    margin: 20px auto 0;
    max-width: 725px;
    width: 100%;
    font-family: 'PFHandbookPro-Light';
}
.mar_btm60{
    margin-bottom: 40px;
}
.form-control{
    height: 44px;
}
@media only screen and (max-width: 1280px){
    .section_container {
        max-width: 1180px;
    }
}
