.benefits_main {
    display: block;
    margin-bottom: 40px;
}
.benefits_icon {
    display: inline-block;
    width: 74px;
    margin-right: 10px;
    vertical-align: top;
    margin-top: 10px;
}
.icons_cm {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
}
.door_services {
    background: url(./../../../../assets/images/01_DoorStep.svg) no-repeat center 0;
}
.loan_sanction {
    background: url(./../../../../assets/images/02_LoanSanction.svg) no-repeat center 0;
}
.benefits_text {
    display: inline-block;
    vertical-align: top;
    color: #7c7c7c;
    font-size: 1.10em;
    max-width: 75%;
    font-family: 'PFEncoreSansPro-Regular';
}
.benefits_text .hd {
    color: #000;
    font-size: 1.2em;
    font-family: 'PFHandbookPro-Bold';
    line-height: 38px;
    font-weight: bold;
}
.balance_tranfer {
    background: url(./../../../../assets/images/03_BalanceTransfer.svg) no-repeat center 0;
}