.partners_logo {
    border: 1px solid #ececec;
    width: 157px;
    height: 65px;
    display: inline-block;
    padding: 10px;
    margin: 10px 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}
.list_of_partners {
    display: flex;
}
img {
    vertical-align: middle;
}